:root {
  --blue: #213875;
  --red: #da1333;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.button {
  background: #fff;
  color: var(--blue);
  display: inline-block;
  padding: 1rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 0.25rem solid var(--blue);
  transition: all 0.25s ease;
}
.button:hover {
  color: var(--red);
  border: 0.25rem solid var(--red);
}
