:root {
  --blue: #213875;
  --red: #da1333;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
